main{
    width: 80%;
    height: auto;
    padding: 20px;
    margin: 60px auto;
    background-color:white;
    border-radius: 20px;
    box-shadow: white 6px 6px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
#banner{
    width: 80%;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto;
}
 #banner img{
    width: 100%;
 }
