:root{
    --marrom: #302727;
    --vermelho: #ba2d2d;
    --laranjaEscuro: #f2511b;
    --laranjaClaro: #f2861b;
    --verde: #c7c730;
}
header,footer{
    background-color: var(--vermelho);
    color: white;
}
.card-img-overlay{
    border-radius: 0%;
}
.titulo{
    border-spacing: 5px;
}
td{
    border: 1px solid; 
    border-color: black;
    padding: 10px;
    text-align: center;
}
th{
    background-color: #ba2d2d;
    color: white;
    padding: 5px;
    text-align: center;
}
#semcor{
    background-color: white !important;
}
