*{
    padding: 0;
    margin: 0;
}
:root{
    --rosaclaro:#f5d7d1;
    --rosaescuro:#f5c8be;
    --preto:#3e3c3b;
    --cinza:#908a89;
    --branco:white;
}
body{
    background-color: var(--rosaclaro);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#losango{
    width: 60px;
    height: 60px;
    background-color: black;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    transform: rotate(-45deg);

}
#losango::after{
    content: "M";
    display: block;
    transform: rotate(45deg);
    position: absolute;
    top:50%;
    left: 50%;
    transform-origin: 50% 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30pt;
    color:white;
    text-align: center;
    
}
main{
    height:50%;
    width:30%;
    display:block;
    background-color: var(--rosaescuro);
}
header{
    padding-top: 20PX;
    background-color:var(--rosaescuro);
    width:30%;
}
h1{
    padding-top: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
ul{
    padding: 20px;
    background-color: var(--rosaescuro);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
li{
    display: flex;
    text-align: left;
    width: 140%;
    padding: 5px;
    margin-right: 20px;
    background-color: white;
}
footer{
    text-align: center;

}